# DICTIONARY IN PYTHON

#GROUP OF (KEY,VALUE) ,PAIRS SEPARATED WITH COMMA(,) AND ENCLOSED IN CURLY BREAKET

In [2]:
DICT={"NAME":"abc","rno":"312","dept":"se"}
#      key     value 
# (NAME,abc),(rno,312),(dept,se) are the item of dictionary

In [3]:
# how to create a dictionary 
# empty dictionary
dict={}

# how to create dictionary with elements 
# dict={key1:value1,key2:value2........}
#dict={ key1:value1,
#         key2:value2,
#     key3:value3 }
# by using dictionary function we also create dictionary
#dict( [(key1:value1),(key2:value2...)])
#we also create dictionary by using dictionary comprehension
# we need to specify the following order
1 expression
2 iteration
3 condition
for example 
dict={ expression iteration condition}
 dict={x:x**2  for x in range(5) if x%2==0}

# how to accessing elements

with the help of keys we can acces the corresponding values

In [6]:
# for exmple 
dict={"name":"adil","rolno":"123","dept":"se"}
dict["name"]
print(dict["rolno"])

123

In [7]:
dict.items()

dict_items([('name', 'adil'), ('rolno', '123'), ('dept', 'se')])

In [8]:
dict.keys()

dict_keys(['name', 'rolno', 'dept'])

In [9]:
dict.values()

dict_values(['adil', '123', 'se'])

In [10]:
d={'name':'adil',"father_name":"ghulam murtaza","roll_no":"12345","branch":"sce"}
d['name']

'adil'

In [11]:
# how to adding  new element to dict
# for example
d={'name':'adil',"father_name":"ghulam murtaza","roll_no":"12345","branch":"sce"}
d["course"]="software"
print(d)

{'name': 'adil', 'father_name': 'ghulam murtaza', 'roll_no': '12345', 'branch': 'sce', 'course': 'software'}

In [12]:
# how to modify  element to dict
# for example
d["branch"]="islamabad"
print(d)

{'name': 'adil', 'father_name': 'ghulam murtaza', 'roll_no': '12345', 'branch': 'islamabad', 'course': 'software'}

In [13]:
# how to deleting  element to dict
# for example
del d["course"]
print(d)

{'name': 'adil', 'father_name': 'ghulam murtaza', 'roll_no': '12345', 'branch': 'islamabad'}

In [15]:
d.clear()
print(d)

{}

# methods in dictionary

In [18]:
# copy()
a={ 'name':'adil',
     'roll_no':'123',
  'course':'software engineering'}
print(a)
b=a.copy()
print(b)

{'name': 'adil', 'roll_no': '123', 'course': 'software engineering'}
{'name': 'adil', 'roll_no': '123', 'course': 'software engineering'}

In [19]:
# clear()
c=a
print(c)

{'name': 'adil', 'roll_no': '123', 'course': 'software engineering'}

In [20]:
c.clear()

In [21]:
print(c)

{}

In [23]:
b.items()

dict_items([('name', 'adil'), ('roll_no', '123'), ('course', 'software engineering')])

In [26]:
# update item
b.update({"branch":"islamabad"})
print(b)

{'name': 'adil', 'roll_no': '123', 'course': 'software engineering', 'branch': 'islamabad'}

In [27]:
# pop() use to delete item from disctionary which return reverse 
b.pop("course")

'software engineering'

In [28]:
print(b)

{'name': 'adil', 'roll_no': '123', 'branch': 'islamabad'}

In [29]:
#popitem() it will remove the recently insert item
b.popitem()

('branch', 'islamabad')

In [30]:
print(b)

{'name': 'adil', 'roll_no': '123'}

In [31]:
# get() is use to displaying corrsponding value
b.get("name")

'adil'

In [32]:
b.get("roll_no")

'123'

# from keys()
two arregment
key 
value

In [33]:
t=('a','3','t')
v=0
d.fromkeys(t,0)

{'a': 0, '3': 0, 't': 0}

In [34]:
print(d)

{}


#setdefault
two arrgment
1
key
2 value

In [37]:
d.setdefault("roll_no","23")

'23'

In [38]:
print(d)

{'roll_no': '23'}