# how to create touple and its basic operation
lenght
concatenation
repitation
membership 
iteration statement 
max
mini
index
count

In [5]:
a=(20,30,90)
b=(70,6,7)
print(a)
print(b)

(20, 30, 90)
(70, 6, 7)

In [6]:
# how to finfd lenght of touple
#by using len() function you can find the lenght of touple
# for example
b=(2,6,8,9,2,1)
print(len(a))

3

In [7]:
# how to concatenate touple
# by using + operator you can concatenate two touplee value
# for example 
a=(1,3,6)
b=(4,7,5)
print(a+b)

(1, 3, 6, 4, 7, 5)

In [9]:
# what is membeship in touple
# for example 
10 in a
1 in a

True

In [10]:
for ele in a:
    print(a)

(1, 3, 6)
(1, 3, 6)
(1, 3, 6)

In [11]:
max(a)

6

In [12]:
min(a)

1

In [13]:
a.index(3)

1

In [14]:
a.index(6)

2

In [18]:
a.count(6)

1

In [23]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

In [24]:
l=[8,8,2,7 ]
tuple(l)

(8, 8, 2, 7)

In [29]:
# updating ,remove and slicing the tuple

tu=("ali",5,1.5)
print(tu[-1])
print(tu[2])

1.5
1.5

In [30]:
# how to update tuple
# example
a=(1,2,3,4)
b=(4,6,7)
c=a+b
print(c)

(1, 2, 3, 4, 4, 6, 7)

In [31]:
del b

In [32]:
b

NameError: name 'b' is not defined

In [33]:
a=(2,7,90,6,4,5)
print(a[3])

6

In [34]:
print(a[0:4])

(2, 7, 90, 6)

In [35]:
print(a[:5])

(2, 7, 90, 6, 4)

In [36]:
print(a[2:])

(90, 6, 4, 5)

In [ ]:
//